<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>p5.js example</title>
    <style>
      body {
        padding: 0;
        margin: 0;
        background-color: #1b1b1b;
      }
    </style>
    <script src="../p5.min.js"></script>
    <!-- <script src="../addons/p5.sound.js"></script> -->
    <script src="sketch.js"></script>
  </head>
  <body>
      <!-- Put the following lines in your setup() function
      const canvas = createCanvas(400, 400);
      canvas.parent('canvas-container');
      -->
      <div id="canvas-container"></div>
      <a href="./">Back to Bouncing Ball Lesson Plan</a>
  </body>

</html>